// Define variables for your color scheme

// For example:
$ocre : #F9E9D1;
$blood : #B42C0F;
$light-pink : #F6E6E5;
$dark-pink : #F1DAD9;
$light-green : #EFF6F0;
$dark-green : #DDEBDF;
$dark-blue : #D9DDE8;
$light-blue : #E6E8F0;