// Import Google fonts
@font-face {
    font-family: "HKGrotesk";
    src: url("HKGrotesk-Medium.otf") format("opentype");
}
@font-face {
    font-family: "HKGrotesk-Bold";
    src: url("HKGrotesk-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Pangram-Bold";
    src: url("Pangram-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Pangram-Medium";
    src: url("Pangram-Medium.otf") format("opentype");
}
@font-face {
    font-family: "Pangram-ExtraBold";
    src: url("Pangram-ExtraBold.otf") format("opentype");
}   

// Define fonts for body and headers
$body-font: "HKGrotesk", sans-serif;
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

