.about-us {
    font-size: 1.65vw;
    margin: 2vh 13vw 7vh 15vw;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20vh;
}

.team-img {
    width: 18vw ;
}

.team-info {
    width: 18vw;
    padding: 1vw;
    position: absolute;
    background-color: $dark-pink;
    display: none;
}

@media only screen and (max-width: 600px) {
    .about-us {
        font-size: 4vw;
        margin: 2vh 5vw 4vh 5vw;
    }
    .team-img {
        width: 44.5vw;
    }
    .team-info {
        width: 44.5vw;
    }
}