

.trip-info {
    display: flex;
    justify-content: space-evenly;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.field {
    width: 2vw;
    height: 2vw;
    border-radius: none;
    border: solid 1px black;
}

.selector {
    width: 2vw;
    height: 2vw;
    background-color: $dark-green;
    border: solid 1px black;
}

.trip-map {
    display: flex;
    justify-content: center;
}

.map-img {
    width: 55vw;
    height: 100%;
}

.guatemala {
    width: 35vw;
}

.reserve-btn {
    position: relative;
    text-align: center;
    height: 100%;
    margin-top: 4vh;
}
.reserve-img {
    width: 20vw;
}
.reserve-text {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.program {
    background-color: $dark-green;
    width: 40vw;
    padding: 5vh 3vw;
    height: 190vh;
    overflow: scroll;
}
.program-day{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 1vw;
    margin-bottom: 0.5vh;
}
.program-description{
    font-size: 1.1vw;
    margin-bottom: 2.5vh;
}
.description {
    width: 70vw;
    padding: 6vh 4vw;
    font-size: 1.5vw;
    line-height: 4.5vh;
}

.context {
    height: 30vh;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.to-measure {
    height: 30vh;
    background-color: $dark-green;
    margin: auto;
    padding: 6vh 5vw;
}

.faq-question {
    font-size: 1.6vw;
    padding: 2vh 2vw;
}

.faq-answer {
    padding: 2vh 2vw;
    display: none;
}

.arrow-faq {
    float: right;
}

.ri-arrow-up-s-line {
    display: none;
}
