<div class='footer green'>
    <div>
        <a href="/terms">TERMOS E CONDIÇÕES</a><br>
        <a href="/privacy">POLÍTICA DE PRIVACIDADE</a>
    </div>
    <div class="d-flex footer-side align-items-center">
        <p class="my-0 mr-3">RNAVT n.º<br>2676</p>
        <%= image_tag 'turismo.svg', class: "footer-img" %>
    </div>
<div>