<img class="header-img desktop" src="/assets/header-blue.svg" alt="CAIPORA">
<img class="header-img mobile" src="/assets/mobile-header-blue.svg" alt="CAIPORA">

<main>
<div class="presentation-flex">
<div class="presentation"><%= @page.content %></div>

<img class='pres-img' src="/assets/presentation.svg">
</div>
</main>