<img class="header-img desktop" src="/assets/header-blue.svg" alt="CAIPORA">
<img class="header-img mobile" src="/assets/mobile-header-blue.svg" alt="CAIPORA">
<main>
<h1 class="text-center mt-4 mt-md-0">TERMOS E CONDIÇÕES</h1>
<div class="about-us mt-5 terms"><%= @page.content %></div>
</main>