.ocre {
    background-color: $ocre;
}
.pink {
    background-color: $dark-pink;
}

.light-pink {
    background-color: $light-pink;
}

.green {
    background-color: $dark-green;
}

.light-green {
    background-color: $light-green;
}

.blue {
    background-color: $dark-blue;
}

.light-blue {
    background-color: $light-blue;
}